# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
lib/
out/
coverage/

# TypeScript cache
*.tsbuildinfo

# Test coverage
coverage/
.nyc_output/

# Optional npm cache directory
.npm/

# VSCode settings
.vscode/
.history/

# Environment files
.env
.env.*.local

# Logs
logs
*.log

# OS-manifestific files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
